


:root {
    --lightgray: #efefef;
    --blue: steelblue;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.modalbutton {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
}


.modalbody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font: 14px/1.5 sans-serif;
}

.modal-btn-group {
    text-align: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: visible;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
}

.modal-dialog > * {
    padding: 1rem;
}

.modal-header,
.modal-footer {
    background: var(--lightgray);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header .modal-close {
    font-size: 1.5rem;
}

.modal p + p {
    margin-top: 1rem;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.test-grid {

    max-width: 900px;
    display: flex;
    justify-content: start;
    gap: 3px;
    align-items: baseline;
}

div.test-grid input {
    min-height: unset;

}

email-form-background {
    background: rgb(255, 255, 255);
    border-radius: 0.3125rem;
    max-width: 35.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 2.75rem;
    position: relative;
}
.dEVaGV {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(93, 93, 101);
    display: block;
    font-size: 0.975rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.iFTUZ {
    color: rgb(221, 54, 42);
}
.iMsgpL {
    appearance: none;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 0.1875rem;
    box-sizing: border-box;
    box-shadow: rgba(142, 154, 173, 0.1) 0px 2px 0px 0px inset, rgb(210, 215, 223) 0px 0px 0px 1px inset, rgb(255, 255, 255) 0px 1px 0px 0px;
    color: rgb(67, 77, 93);
    font-size: 0.875rem;
    line-height: 1.5;
    min-height: 2.8125rem;
    outline: 0px;
    padding: 0.75rem 1rem;
    transition: box-shadow 0.2s ease 0s;
    width: 100%;
}
.iMsgpL:focus {
    box-shadow: transparent 0px 0px 0px 0px inset, rgb(80, 156, 246) 0px 0px 0px 1px inset, rgba(80, 156, 246, 0.25) 0px 0px 0px 2px;
}

.iQJYdv {
    /*appearance: none;*/
    background: #da2032;
    border: 0px;
    box-sizing: border-box;
    color: rgb(67, 77, 93);
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    min-height: 2.8125rem;
    outline: 0px;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    text-align: left;
    transition: box-shadow 0.2s ease 0s;
    width: 1.5em;
}
.iQJYdv:focus {
    box-shadow: transparent 0px 0px 0px 0px inset, rgb(218, 32, 50) /*rgb(80, 156, 246) */ 0px 0px 0px 1px inset, rgba(80, 156, 246, 0.25) 0px 0px 0px 2px;
}
.ksvdB {
    color: rgb(142, 154, 173);
    height: 1rem;
    line-height: 0;
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
}
.bMslyb {
    margin-bottom: 1.5rem;
}
.liOVdz {
    /*margin-bottom: 2.5rem;*/
}
.gDVPix {
    margin-left: auto;
    margin-right: auto;
    max-width: 29.125rem;
    padding-bottom: 3.125rem;
}
.iqDtCP {
    font-size: 3rem;
    text-align: center;
    letter-spacing: -1px;
    line-height: 1.17;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-family: Lato, sans-serif;
    color: rgb(0, 0, 0);
}
.dlFVOk {
    font-size: 24px;
    text-align: center;
    letter-spacing: -1px;
    line-height: 1.17;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-family: Lato, sans-serif;
    color: rgb(67, 77, 93);
}
.bjObOo {
    border-bottom: 1px solid rgb(210, 215, 223);
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.efTFaG {
    background-color: rgb(123, 177, 61);
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    outline: 0px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    transition: background-color 0.1s ease-in 0s, box-shadow 0.1s ease-in 0s;
}
.efTFaG:hover {
    cursor: pointer;
}
.hEFlfv {
    background-color: rgb(218, 32, 50);
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    outline: 0px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    transition: background-color 0.1s ease-in 0s, box-shadow 0.1s ease-in 0s;
}
.hEFlfv:hover {
    cursor: pointer;
}
.cjxxVo {
    background-color: #da2032;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    outline: 0px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    transition: background-color 0.1s ease-in 0s, box-shadow 0.1s ease-in 0s;
}
.cjxxVo:hover {
    cursor: pointer;
}
.kAkJcy {
    white-space: pre-wrap;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(67, 77, 93);
}
a,
abbr,
address,
article,
aside,
b,
blockquote,
body,
caption,
cite,
code,
dd,
details,
dialog,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
legend,
li,
main,
menu,
nav,
object,
ol,
p,
pre,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
u,
ul {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
*,
::after,
::before {
    box-sizing: inherit;
}
html {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
html {
    color: rgb(67, 77, 93);
    font-weight: 400;
    line-height: 1.5;
}
label {
    text-transform: none;
}
button,
p {
    overflow-wrap: break-word;
    word-break: break-word;
    text-transform: none;
}
.desc-text {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(93, 93, 101);
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
